section.about
  padding rem(50px) 0	
  background-color #16191E
  +above(cut)
    background $bg-about

ul.about-formule
  padding rem(50px) 0	
  
  li
    display inline-block
    padding rem(15px) 0
    +below(cut)
      display block
  	
  	small
  	  display block	
  	  color $color-amarelo-claro
  	  margin-bottom 5px
  	
  	i
  	  color $color-branco
  	  font-size rem(50px)