section.devices
  padding-top rem(40px)	 
  .container  		  
    span
  	  display block
  	  width rem(250px)  	    
      i
  	    display table-cell
  	    vertical-align middle
  	    font-size rem(50px)
  	    color $color-branco	