$header-menu-size = 68px

header
  +below($screen-sm)
    height 68px  
  
$menu-hover
  text-decoration underline overline
  
nav.menu
  height $header-menu-size
  background $color-branco
  +below(cut)
    position fixed
    top 0
    z-index 1
    width 100%
    border-bottom 1px solid $color-cinza-claro
    box-shadow: 0 0 8px #ccc;
  
  span.logo
    padding rem(4px) 0
    span(1/6, offset:-1/6)
    +below($screen-xs)
      span(4/6)
      text-align left

  span.hidden-menu-btn
    display none
    margin-top rem(10px)
    background $color-branco
    vendor(border-radius, 3px)
    border 1px solid $color-cinza-claro
    padding 5px
    cursor pointer
    col(1/6)
    width 40px
    +below($screen-sm)
      display block
      float right
    
    span.line
      background $color-cinza-escuro
      display block
      height 3px
      width 80%
      vendor(border-radius, 20%)
      margin 5px auto
    
    &:hover
      background $color-cinza-claro
        
  
.hidden-menu
  width 100%; 
  float left;
  position absolute;
  display none
  z-index 9999
  top 0
  background-color rgba(0,0,0,.8)
  
  ul.list-hidden
    margin 0
    display block       
    
    li
      display block
      padding rem(20px) 0
      text-align center
      border-bottom rem(1px) solid #444 
      
      &:last-child
        border none
      
      a
        font-weight 600
        line-height 100%
        color $color-branco
      
      &:hover
        @extend $menu-hover   


  
ul.list
  span(3/6)
  +below($screen-md)
    span(4/6)
  +below($screen-sm)
    display none
  height $header-menu-size
  line-height $header-menu-size
  li
    span(1/5)
    padding 0 rem(5px)
    border-right 1px solid $color-cinza-claro
    &:last-child
      border-right none
    &:hover
      background #F0F0F0 
    a
      display inline-block
      font $font-sm $font-menu
      font-weight bold 
      color $color-cinza-escuro 
      text-decoration none
      line-height 100%
  

ul.nav-social
  col(1/6)
  margin-right 0
  height $header-menu-size
  line-height $header-menu-size
  +below($screen-md)
    display none
  li
    display inline-block
  
  i
    color $color-cinza-escuro
    font-size rem(25px)


//classe utilizada para exibir o menu oculto em determinado breakpoint
.revelar
  display block!important
  
//
.fechar
  cursor pointer  

