$color-branco = #fff
$color-salmao = #FF4D4D
$color-cinza-escuro = #333
$color-cinza-claro = #ccc
$color-amarelo-claro  = #FFEFBF

$bg-slide = $color-cinza-escuro url('../img/bg-header.jpg') no-repeat 0 0
$bg-about = url('../img/bg-about.jpg') no-repeat 0 0

$font-base = 'Open Sans', serif, Arial;
$font-menu = Montserrat, 'Open Sans', Arial, Helvetica;

$title1 = rem(45px)
$title2 = rem(30px)
$title3 = rem(30px)
$title4 = rem(25px)
$font-standart = rem(16px)
$font-content = rem(25px)

//cut = 47.87rem
cut = 37.5rem
mobile = 400px

desktop = 1024px 